{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/jack-anstey-XVoyX7l9ocY-unsplash.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I’m Sarah, someone who overthinks for a living, except no one’s paying me (yet). This blog is my attempt to make sense of the world, one post at a time. Sometimes that means writing about things I’m learning, sometimes it’s about things I’m unlearning, and often it’s just me trying to connect dots that probably weren’t meant to be connected in the first place.</p>

<p>I like noticing the details people skip past, asking questions that don’t always have answers, and sitting with the uncomfortable parts of growing up, messing up, and figuring things out.</p>

<p>If you’re into honest reflections, scattered thoughts, occasional sarcasm, and the kind of writing that feels like a conversation you’d have over coffee (or at least texting someone at 2AM), then welcome, you’ll probably get along just fine here.<p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}